*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.904);
}
li:hover{
    background-color: black;
    transition: all 0.5s;

}
.navbar{
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    background-color: tomato;
}

.navbar li{
    padding: 1rem;

}
.navbar>li>a{
    text-decoration: none;
    color: white;
}

.dropdown{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    position: absolute;
    top: 50px;
    z-index: 99;
    background-color: tomato;

}
.dropdown>li{
    padding: 1rem 2rem;
}

.dropdown>li>a{
    text-decoration: none;
    color: white;
}
.dropdown-sub{
    visibility: hidden;
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    z-index: 99;
    background-color: tomato;

}

.dropdown-sub>li{
    padding: 1rem 2rem;
}

.dropdown-sub>li>a{
    text-decoration: none;
    color: white;
}

.wordpress:hover .dropdown{
    visibility: visible;

}
.Tutorials:hover .dropdown-sub{
    visibility: visible;
}
